version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: restaurant-app
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: restaurantdb
    depends_on:
      - db

  db:
    image: mysql:8
    container_name: restaurant-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: restaurantdb
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql

  grafana:
    image: grafana/grafana
    container_name: grafana
    ports:
      - "3001:3000"

volumes:
  dbdata:
